.header_right{
    text-align: right;
}
.header_left{
    text-align: left;
}
.header_center{
    text-align: center;
}
ion-content{
    --ion-background-color:#a4a7ab;
}
.container_txt{
    background-color: #ffffff;
}