<ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <div class="header_left" (click)="navigation('about')">
                *Logo*
              </div>
          </ion-col>
          <ion-col col-4>
            <ion-title class="header_center">
              Mon installation
            </ion-title>
          </ion-col>
          <ion-col col-4>
            <div class="header_right">
              John D
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div class="container_txt">
            COUCOU OUI BONJOUR
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  