.header_right{
    text-align: right;
}
.header_left{
    text-align: left;
}
.header_center{
    text-align: center;
}
ion-content{
    --ion-background-color:#a4a7ab;
}
.nav_home{
    background-color: #ffffff;
    text-align: center;
}
.nav_home_active{
    background-color: #868686;
    text-align: center;
}
.nav_community{
    background-color: #ffffff;
    text-align: center;
}
.nav_community_active{
    background-color: #868686;
    text-align: center;
}
.nav_exchange{
    background-color: #ffffff;
    text-align: center;
}
.nav_exchange_active{
    background-color: #868686;
    text-align: center;
}
.container_1{
    background-color: #ffffff;
}
.container_2{
    background-color: #ffffff;
}
.container_3{
    background-color: #ffffff;
}